@using Domain.Entityes
@model IEnumerable<Slider>

@{
    ViewBag.Title = "Слайдер";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@if (TempData["messageBad"] != null)
{
    <div align="center"><h3 style="color: red">@TempData["message"]</h3></div>
    <br />
    <br />
}

@if (TempData["message"] != null)
{
    <div class="alert alert-success" align="center"><h3>@TempData["message"]</h3></div>
}
<br />
<a href="/Admin/AddSlider" class="btn btn-primary btn-lg">Додати слайд</a>
<br /><br />
<table class="table" style="background-color: lightgrey">
    <tr>
        <th class="text-center">
            Фото
        </th>
        <th class="text-center">
            Назва
        </th>
        <th class="text-center">
            Номер слайду
        </th>
        <th class="text-center">
            Опис слайду
        </th>
        <th class="text-center">
            Дії над слайдом
        </th>
    </tr>

    @foreach (var i in Model)
    {
        <tr>
            <td>
                <img src="~/PhotoForDB/@i.SlidePhoto" width="60" height="70" />
            </td>
            <td>
                <i>@i.Name</i>
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => i.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => i.SlideDescription)
            </td>
            
            <td class="text-center">
                @using (Html.BeginForm("EditSlider", "Admin", FormMethod.Get))
                {
                    @Html.Hidden("slideId", i.SlideId)
                    <input type="submit"
                           class="btn btn-default btn-xs"
                           value="Редагувати" />
                }
            </td>
            <td class="text-center">
                @using (Html.BeginForm("DeleteSlide", "Admin", FormMethod.Post))
                {
                    @Html.Hidden("slideId", i.SlideId)
                    <input type="submit"
                           class="btn btn-default btn-xs"
                           value="Видалити" />
                }
            </td>
        </tr>
    }
</table>
